@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');
/* Global selection style */
::selection {
  background-color: rgba(124, 78, 228, 0.2); /* Light background */
  color: #7C4EE4; /* Purple color when text is selected */
}

/* For dark mode (if needed) */
@media (prefers-color-scheme: dark) {
  ::selection {
    background-color: rgba(124, 78, 228, 0.3); /* Slightly darker background */
    color: #7C4EE4; /* Purple color for dark mode */
  }
}


body {
  background-color: #f5f5f5;
  
}
body h1 {
  font-family: sans-serif;
}
/* Home */




/* Heade  */



/* Start Post   */

/* .post_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f4f4f4;
}

.post_head h1 {
  font-size: 24px;
}

.post_head button {
  padding: 5px 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
}

.post_head button:hover {
  background-color: #0056b3;
} */


/* End Post  */



/* In your external CSS file */
.subscribe-section {
  background-color: #7C4EE4;
  background-image: url('/Vector.png'), url('/Vector.png');
  background-position: top left, bottom right;
  background-size: 30%, 30%;
  background-repeat: no-repeat;
}

/* .contact_container {
  margin-bottom: 300px;
}

.contact_form {
  top: 300px;
} */

.contact_container {
  margin-bottom: 300px;
  position: relative;
}

.contact_form {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}


.articleColorTest {
  @apply bg-purple-500 text-blue-800;
}
