@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');


body {
  background-color: #E2E2E2;
  
}
body h1 {
  font-family: sans-serif;
}
/* Home */




/* Heade  */



/* Start Post   */

/* .post_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f4f4f4;
}

.post_head h1 {
  font-size: 24px;
}

.post_head button {
  padding: 5px 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
}

.post_head button:hover {
  background-color: #0056b3;
} */


/* End Post  */



/* In your external CSS file */
.subscribe-section {
  background-color: #7C4EE4;
  background-image: url('/Vector.png'), url('/Vector.png');
  background-position: top left, bottom right;
  background-size: 30%, 30%;
  background-repeat: no-repeat;
}
